<nz-list [nzDataSource]="matches" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-match>
    <nz-list-item>
      <nz-list-item-meta [nzTitle]="nzTitle">
        <ng-template #nzTitle>
          <a routerLink="/details/{{match?.fifa_id}}">
            <nz-card style="width:80%;">
              <div nz-row>
                <p><img src="../../assets/images/{{match?.home_team.country}}.png"/>{{match?.home_team.country}}: {{match?.home_team.goals}} VS <img src="../../assets/images/{{match?.away_team.country}}.png"/>{{match?.away_team.country}}:
                  {{match?.away_team.goals}}</p>
              </div>
            </nz-card>
          </a>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>
