p {
  font-size: x-large;
}

img {
  width: auto;
  height: auto;
  max-width: 20%;
  max-height: 20%;
}

:host ::ng-deep .infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

:host ::ng-deep .loading {
  position: absolute;
  bottom: -40px;
  left: 50%;
}

@media all and (max-width: 1280px) {
  p {
    font-size: x-small;
  }
}
