<nz-card nzHoverable style="width:240px" [nzCover]="iconTemplate">
  <nz-card-meta nzTitle="WorldCup" nzDescription="一个世界杯PWA"></nz-card-meta>
</nz-card>
<ng-template #iconTemplate>
  <img alt="example" src="../../assets/icons/android-chrome-256x256.png"/>
</ng-template>

<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionGithub,actionMail,actionGoogle]">
  <nz-card-meta nzTitle="Andor233" nzDescription="Solitude" [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="../../assets/images/2.jpg"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="../../assets/images/1.jpg"/>
</ng-template>
<ng-template #actionGithub>
  <a target="_blank" href="https://github.com/Andor233">
    <i class="anticon anticon-github"></i>
  </a>
</ng-template>
<ng-template #actionMail>
  <a href="mailto:rintarouokabe@elpsycongroo.me">
    <i class="anticon anticon-mail"></i>
  </a>
</ng-template>
<ng-template #actionGoogle>
  <a target="_blank" href="https://plus.google.com/u/0/107427694823571280114">
    <i class="anticon anticon-google-plus"></i>
  </a>
</ng-template>
