<nz-card nzHoverable style="width:240px" [nzCover]="iconTemplate">
  <nz-card-meta nzTitle="WorldCup" nzDescription="一个世界杯PWA"></nz-card-meta>
</nz-card>
<ng-template #iconTemplate>
  <img alt="logo" src="../../assets/icons/android-chrome-256x256.png"/>
</ng-template>

<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionGithub,actionMail]">
  <nz-card-meta nzTitle="Andor233" nzDescription="Leader" [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="../../assets/images/2.jpg"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="../../assets/images/1.jpg"/>
</ng-template>
<ng-template #actionGithub>
  <a target="_blank" href="https://github.com/Andor233">
    <i class="anticon anticon-github"></i>
  </a>
</ng-template>
<ng-template #actionMail>
  <a href="mailto:rintarouokabe@elpsycongroo.me">
    <i class="anticon anticon-mail"></i>
  </a>
</ng-template>

<nz-card style="width:300px;" [nzCover]="coverTemplate2" [nzActions]="[actionGithub2,actionMail2]">
  <nz-card-meta nzTitle="kyy108516" nzDescription="Team member" [nzAvatar]="avatarTemplate2"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate2>
  <nz-avatar nzSrc="../../assets/images/4.jpg"></nz-avatar>
</ng-template>
<ng-template #coverTemplate2>
  <img alt="example" src="../../assets/images/009.jpg"/>
</ng-template>
<ng-template #actionGithub2>
  <a target="_blank" href="https://github.com/kyy108516">
    <i class="anticon anticon-github"></i>
  </a>
</ng-template>
<ng-template #actionMail2>
  <a href="mailto:96160115@qq.com">
    <i class="anticon anticon-mail"></i>
  </a>
</ng-template>
