<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">

    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item><a routerLink="/details/current"><span><i class="anticon anticon-user"></i><span
        class="nav-text">Current Match</span></span></a>
      </li>
      <li nz-menu-item><a routerLink="/matches/all"> <span><i class="anticon anticon-calendar"></i><span
        class="nav-text">Matches</span></span>
      </a></li>
      <li nz-menu-item><a routerLink="/countries"> <span><i class="anticon anticon-upload"></i><span class="nav-text">Countries</span></span></a>
      </li>
      <li nz-menu-item><a routerLink="/about"><span><i class="anticon anticon-info"></i><span
        class="nav-text">About</span></span></a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header
      style="">
      <p style="text-align: center;">{{title}}</p>
    </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">刘征宇 ©2018</nz-footer>
  </nz-layout>
</nz-layout>
<nz-back-top></nz-back-top>
