<nz-list
  [nzDataSource]="news"
  [nzItemLayout]="'vertical'"
  [nzRenderItem]="item"
  [nzPagination]="pagination">
  <ng-template #item let-it>
    <nz-list-item [nzContent]="it.description" [nzActions]="[starAction,likeAction]" [nzExtra]="extra">
      <ng-template #starAction><i class="anticon anticon-star-o" style="margin-right: 8px;"></i> 156</ng-template>
      <ng-template #likeAction><i class="anticon anticon-like-o" style="margin-right: 8px;"></i> 156</ng-template>
      <nz-list-item-meta
        [nzAvatar]="it.avatar"
        [nzTitle]="nzTitle"
        [nzDescription]="it.provider[0].name">
        <ng-template #nzTitle><a href="{{it.url}}" target="_blank">{{it.name}}</a></ng-template>
      </nz-list-item-meta>
      <ng-template #extra>
        <img alt="thumbnail" *ngIf="it.image!=null" src="{{it.image.thumbnail.contentUrl}}">
      </ng-template>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
  </ng-template>
</nz-list>
