<div nz-row class="l">
  <div nz-col [nzSpan]="9" [nzOffset]="3">
    <div>
      <h2 style="font-size: xx-large;color: dodgerblue">{{authors[id].name}}</h2>
    </div>
    <div>
      <ul>
        <li>
          <span>球队:</span>
          <span>{{authors[id].team}}</span>
        </li>
        <li>
          <span>出生日期:</span>
          <span>{{authors[id].birthdate}}</span>
        </li>
        <li>
          <span>身高:</span>
          <span>{{authors[id].height}}</span>
        </li>
        <li>
          <span>体重：</span>
          <span>{{authors[id].weight}}</span>
        </li>
        <li>
          <span>球衣号:</span>
          <span>{{authors[id].number}}</span>
        </li>
        <li>
          <span>场上位置：</span>
          <span>{{authors[id].place}}</span>
        </li>

      </ul>
    </div>
  </div>
  <div nz-col [nzSpan]="12">
    <img src="../../assets/images/big{{authors[id].code}}.jpg" style="width: 100%;">
  </div>
</div>

<div nz-row class="s">
  <div nz-col [nzSpan]="24">
    <img src="../../assets/images/big{{authors[id].code}}.jpg" style="width: 100%;">
  </div>
  <div nz-col [nzSpan]="24">
    <div>
      <h2 style="font-size: xx-large;color: dodgerblue">{{authors[id].name}}</h2>
    </div>
    <div>
      <ul>
        <li>
          <span>球队:</span>
          <span>{{authors[id].team}}</span>
        </li>
        <li>
          <span>出生日期:</span>
          <span>{{authors[id].birthdate}}</span>
        </li>
        <li>
          <span>身高:</span>
          <span>{{authors[id].height}}</span>
        </li>
        <li>
          <span>体重：</span>
          <span>{{authors[id].weight}}</span>
        </li>
        <li>
          <span>球衣号:</span>
          <span>{{authors[id].number}}</span>
        </li>
        <li>
          <span>场上位置：</span>
          <span>{{authors[id].place}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
