<div>
  <img src="../../assets/images/index.jpg" style="width: auto;max-width: 100%;">
</div>
<div nz-row
     style="background-image: url(../../assets/images/index3.jpg);background-size: 100% 100%;width:100%;height: 0;padding-bottom: 56.25%">
  <div nz-col [nzSpan]="12" [nzOffset]="6"
       style="padding-bottom: 56.25%;position: relative;padding-top: 30px;height: 0;">
    <embed src='http://player.youku.com/player.php/sid/XMzY1NTg3NzY2MA==/v.swf' allowFullScreen='true' quality='high'
           width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'>
  </div>
  <!--<div nz-col [nzSpan]="4">-->
  <!--<button nz-button="Primary" style="float: left;margin-top: 29%;max-width: 100%;width:100%;height:0;padding-bottom: 64%;background-color: darkblue;color: white;font-size: xx-large;vertical-align: middle;line-height: 250%">简介<i-->
  <!--class="anticon anticon-right"></i></button>-->
  <!--<button nz-button="Primary" style="float: left;max-width: 100%;width:100%;height:0;padding-bottom: 63%;background-color: darkblue;color: white;font-size: large;vertical-align: middle;line-height: 350%">比赛流程<i-->
  <!--class="anticon anticon-right"></i></button>-->
  <!--<button nz-button="Primary" style="float: left;max-width: 100%;width:100%;height:0;padding-bottom: 64%;background-color: darkblue;color: white;font-size: large;vertical-align: middle;line-height: 350%">绝对巨星<i-->
  <!--class="anticon anticon-right"></i></button>-->
  <!--</div>-->
</div>
<div>
  <div style="background-color: orangered">
    <div style="text-align: center"><img src="../../assets/images/logo3.png"></div>
    <div nz-row class="l">
      <div nz-col [nzSpan]="8">
        <div class="x">大力神杯</div>
        <p>
          大力神杯足球世界杯的奖杯，是足球界的最高荣誉的象征。在1970年墨西哥世界杯，三夺世界杯的巴西队永久拥有了“雷米特金杯”后，国际足联征求新的世界杯冠军金杯方案，一共收到了7个国家的53份方案，最后意大利艺术家西尔维奥·加扎尼加（Silvio
          Gazzaniga）的作品入选。

          整个奖杯看上去就像两个大力士托起了地球，被称为“大力神金杯”。线条从底座跃出，盘旋而上，到顶端承接着一个地球，在这个充满动态的，紧凑的杯体上，雕刻出两个胜利后激动的运动员的形象。高36.8厘米，重6.175公斤，其中包括4.97公斤的18K黄金铸造，底座镶有两圈墨绿色的孔雀石。</p>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="x">历史经典</div>
        <p>
          世界杯渊源始于20世纪初的奥林匹克运动会，特别是在安特卫普1920年举办的奥林匹克运动会上。在那届奥运会上，南美、亚洲及非洲的14个国家参加了奥运会的足球项目1928年17个国家参加了阿姆斯特丹奥运会，但直到这时还没有成型的世界杯诞生。直到1920年5月26日，国际足联决定独自举办足球比赛，从此诞生了世界杯。</p>
        <p>
          　他们选择在奥运会的中间年度比赛，并且决定每隔四年举办一次世界杯，在法国举办完第三届（1938年）比赛之后，由于第二次世界大战爆发，世界杯比赛中断了12年。战争一结束，巴西就在1950年举办了第四届世界杯赛。截至2014年，共举办了20届世界杯。</p>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="x">吉祥物</div>
        <p>
          扎比瓦卡是2018年俄罗斯世界杯足球赛吉祥物，两只毛茸茸的大耳朵，一双圆溜溜的大眼睛，头顶橙色边框运动镜，身穿白蓝红三色足球衫。该吉祥物以西伯利亚平原狼为蓝本。扎比瓦卡，俄语意为“进球者”。吉祥物的评选首先参考了俄罗斯儿童的意见，并由大学生参与设计，共有超过100万人参与了投票。</p>
      </div>
    </div>

    <div nz-row class="s">
      <div nz-col [nzSpan]="24">
        <div class="x">大力神杯</div>
        <p>
          大力神杯足球世界杯的奖杯，是足球界的最高荣誉的象征。在1970年墨西哥世界杯，三夺世界杯的巴西队永久拥有了“雷米特金杯”后，国际足联征求新的世界杯冠军金杯方案，一共收到了7个国家的53份方案，最后意大利艺术家西尔维奥·加扎尼加（Silvio
          Gazzaniga）的作品入选。

          整个奖杯看上去就像两个大力士托起了地球，被称为“大力神金杯”。线条从底座跃出，盘旋而上，到顶端承接着一个地球，在这个充满动态的，紧凑的杯体上，雕刻出两个胜利后激动的运动员的形象。高36.8厘米，重6.175公斤，其中包括4.97公斤的18K黄金铸造，底座镶有两圈墨绿色的孔雀石。</p>
      </div>
      <div nz-col [nzSpan]="24">
        <div class="x">历史经典</div>
        <p>
          世界杯渊源始于20世纪初的奥林匹克运动会，特别是在安特卫普1920年举办的奥林匹克运动会上。在那届奥运会上，南美、亚洲及非洲的14个国家参加了奥运会的足球项目1928年17个国家参加了阿姆斯特丹奥运会，但直到这时还没有成型的世界杯诞生。直到1920年5月26日，国际足联决定独自举办足球比赛，从此诞生了世界杯。</p>
        <p>
          　他们选择在奥运会的中间年度比赛，并且决定每隔四年举办一次世界杯，在法国举办完第三届（1938年）比赛之后，由于第二次世界大战爆发，世界杯比赛中断了12年。战争一结束，巴西就在1950年举办了第四届世界杯赛。截至2014年，共举办了20届世界杯。</p>
      </div>
      <div nz-col [nzSpan]="24">
        <div class="x">吉祥物</div>
        <p>
          扎比瓦卡是2018年俄罗斯世界杯足球赛吉祥物，两只毛茸茸的大耳朵，一双圆溜溜的大眼睛，头顶橙色边框运动镜，身穿白蓝红三色足球衫。该吉祥物以西伯利亚平原狼为蓝本。扎比瓦卡，俄语意为“进球者”。吉祥物的评选首先参考了俄罗斯儿童的意见，并由大学生参与设计，共有超过100万人参与了投票。</p>
      </div>
    </div>
  </div>
  <div style="background-color: antiquewhite">
    <div style="text-align: center"><img src="../../assets/images/logo1.png"></div>
    <img src="../../assets/images/scedule2.jpeg" style="width: auto;height: auto;max-height: 100%;max-width: 100%"
         class="l">
    <img src="../../assets/images/scedule1.png" style="width: auto;height: auto;max-height: 100%;max-width: 100%"
         class="s">
  </div>
  <div style="background-color: green">
    <div style="text-align: center"><img src="../../assets/images/logo2.png"></div>
    <ul nz-row>
      <li nz-col [nzSpan]="6">
        <div>
          <a routerLink="/author">
            <img src="../../assets/images/meixi.png" class="author">
          </a>
        </div>

      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/cluo.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/geliziman.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/jluo.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/suyaleisi.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/neimaer.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/yiniesita.png" class="author">
          </a>
        </div>
      </li>
      <li nz-col [nzSpan]="6">
        <div>
          <a>
            <img src="../../assets/images/mule.png" class="author">
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
