<div>
  <img src="../../assets/images/index.jpg" style="width: auto;max-width: 100%;">
</div>
<div nz-row style="background-image: url(../../assets/images/index3.jpg);background-size: 100% 100%;height: 100%;">
  <div nz-col [nzSpan]="12" [nzOffset]="4"
       style="padding-bottom: 56.25%;position: relative;padding-top: 30px;height: 0;">
    <embed src='http://player.youku.com/player.php/sid/XMzY1NTg3NzY2MA==/v.swf' allowFullScreen='true' quality='high'
           width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'>
  </div>
  <div nz-col [nzSpan]="6">
    <button nz-button="Primary" style="float: left;margin-top: 20px;max-width: 100%;width:100%;margin-left: 2%">简介<i
      class="anticon anticon-right"></i></button>
    <button nz-button="Primary" style="float: left;margin-top: 20px;max-width: 100%;width:100%;margin-left: 2%">比赛流程<i
      class="anticon anticon-right"></i></button>
    <button nz-button="Primary" style="float: left;margin-top: 20px;max-width: 100%;width:100%;margin-left: 2%">绝对巨星<i
      class="anticon anticon-right"></i></button>
  </div>
</div>
<div>
  <div style="text-align: center"><img src="../../assets/images/logo3.png"></div>
  <div style="text-align: center"><img src="../../assets/images/logo2.png"></div>
  <div style="text-align: center"><img src="../../assets/images/logo1.png"></div>
</div>
