<nz-breadcrumb *ngIf="flag">
  Group:
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/0']">A</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/1']">B</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/2']">C</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/3']">D</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/4']">E</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/5']">F</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/6']">G</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/countries/7']">H</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<p></p>
<div class="infinite-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="false"
     style="height: 100%">
  <nz-list [nzDataSource]="tempTeams"
           [nzRenderItem]="item"
           [nzItemLayout]="'horizontal'">
    <ng-template #item let-team>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <a routerLink="/matches/{{team?.fifa_code}}">
              <nz-card style="width:100%;" nzTitle="{{team?.group_letter}} {{team?.country}}">
                <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" nzGutter="16">
                  <img nz-col nzXs="8" nzSm="7" nzMd="6" nzLg="5" nzXl="4"
                       src="../../assets/images/{{team?.country}}.png">
                  <div nz-col nzXs="7" nzSm="7" nzMd="6" nzLg="5" nzXl="4" nzOffset="1">
                    <p>胜: {{team?.wins}}</p>
                    <p>平: {{team?.draws}}</p>
                    <p>负: {{team?.losses}}</p>
                  </div>
                  <div nz-col nzXs="8" nzSm="7" nzMd="6" nzLg="5" nzXl="4">
                    <p>积分: {{team?.points}}</p>
                    <p>进球: {{team?.goals_for}}</p>
                    <p>被进球: {{team?.goals_against}}</p>
                    <p>净胜球: {{team?.goal_differential}}</p>
                  </div>
                </div>
              </nz-card>
            </a>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
    <nz-spin *ngIf="loading && hasMore" class="loading"></nz-spin>
  </nz-list>
</div>
